<a href="https://colab.research.google.com/github/candlevillain/deposit/blob/master/ch2_python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 세션 개요

+ 이미 알 것이라고 가정한 내용
  + 기본적인 논리 연산자(`==, !=, >, <,and, or, not`)
  + 흐름 제어(반복문, 조건문) 기초개념
  + 함수 기초개념
  + 파일 입출력
  + 모듈 임포트
  + 기본적인 입력/출력(input, print)


<br>

+ 다룰 내용
  + 파이썬 기초 개념 세우기
  + 기본 데이터 타입들 빠르게 복습하기
  + 중요 개념들과 주요 함수들 빠르게 복습하기
    + 함수 포인트: 여러 값을 반환하기, 지역변수/전역변수 개념, 람다함수(익명함수)
    + 리스트 내장과 제너레이터 개념
    + 주요 함수들: range함수, enumerate함수, zip함수,


<br>

+ 다루지 못한 내용
  + 2.3.2. 중 몇몇 스칼라 타입들(바이트, NoneType, datetime)
  + 3.2.5. 커링
  + 3.2.6. 제너레이터
  + 3.2.7. 예외처리

## ch2. 파이썬 기초개념 세우기: 객체와 변수를 중심으로
+ 들여쓰기. 띄어쓰기 4칸. #은 주석.
+ 파이썬의 모든 것은 객체다!
  + `123`(정수형)나 `'abc'`(문자열)같은 기본 자료형은 물론, 함수(`print`)들 역시 객체로 취급한다.
  + 객체란 상자와 비슷하다.
    + 우선, 상자의 모양이 다양하듯, 객체의 타입 역시 다양하다. (`type()`함수를 통해 확인할 수 있다.)
    + 상자를 열면 그 안에 여러 물건들이 들어있듯, 객체를 열어보면(`dir()`함수) 그 안에 여러 값, 속성들과 기능(메소드)들이 들어있다.
  + 객체가 상자라면, 변수는 상자에 붙이는 포스트잇이다!
    + 포스트잇이 특징이 없듯, 변수 역시 딱히 특징이 없으며 모든 특징들(타입, 값 등)은 참조하는 객체에 의해 정의된다!
    + 포스트잇에 포스트잇을 붙일 수 없듯, 변수는 항상 객체를 참조한다!

In [ ]:
print(type('123'))

<class 'str'>

In [ ]:
dir('123') #각 자료형에 쓸 수 있는 메서드 표시, 각 객체 안에 메서드가 들어 있기 때문에 사용 가능

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
dir(print)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [ ]:
a = '123' # 변수는 박스에 붙이는 포스트잇
b = a # 박스에 다른 포스트잇 붙이기

print(a is b)       ## ==는 객체의 값만 비교하지만, is는 객체의 값 뿐만 아니라 id값까지 비교한다. 즉, 객체 자체를 비교한다!
print(id(a), id(b))

True
139688472931888 139688472931888

In [ ]:
a = [1,2,3]
b = a

print(a is b)
print(id(a), id(b))

True
139688059587968 139688059587968

In [ ]:
a.append(1) #a에 값 추가했는데 b에도 값 추가됨, a와 b가 같은 객체를 가리키므로 a에 값 추가하면 b까지 수정됨

print(a, b)

[1, 2, 3, 1] [1, 2, 3, 1]

In [ ]:
a = [1,2,3]
print(type(a))

a = '456' #포스트잇 떼서 붙이기
print(type(a))

<class 'list'>
<class 'str'>

###### 참고. 문자열과 정수형에 대한 캐싱

+ 원칙적으로 파이썬은, 새로운 객체를 생성하면, 설사 값이 같더라도, 별개의 객체를 생성해야 맞다.
+ 그러나 작은 숫자나 문자열의 경우, 파이썬은 매번 새로운 객체를 만들지 않고, 생성된 객체를 재활용하는 식으로 메모리를 절약한다.

In [ ]:
a = [1,2,3]
b = [1,2,3]

print(a == b)
print(a is b)

In [ ]:
a = '생각에 관한 생각. 하이켈하임 로마사. 도덕적 인간과 비도덕적 사회. 밑바닥부터 시작하는 딥러닝'
b = '생각에 관한 생각. 하이켈하임 로마사. 도덕적 인간과 비도덕적 사회. 밑바닥부터 시작하는 딥러닝'

print(a == b)
print(a is b)

In [ ]:
a = '123'
b = '123'

print(a == b)
print(a is b)

In [ ]:
a = 123456789
b = 123456789

print(a == b)
print(a is b)

In [ ]:
a = 123
b = 123

print(a == b)
print(a is b)

## ch2~3. 기본 데이터 타입들 빠르게 복습하기

+ 파이썬의 기본 데이터 타입들은 **반복과 순서**라는 두 가지 기준을 가지고 구분할 수 있다.

<br>

+ 1.반복불가
  + ~~반복불가-순서있음~~
  + 1-1.반복불가-순서없음(스칼라형, atomic 데이터타입)
    + <u>숫자(int, float...), 불값(True, false), None</u> 등...
+ 2.반복가능 iterable
  + 2-1.반복가능-순서없음
    + 1)집합
    + 2)사전
  + 2-2.반복가능-순서있음
    + 1)<u>문자열</u>
    + 2)리스트
    + 3)<u>튜플</u>

<br>

+ 밑줄친 스칼라형 및 문자열, 튜플은 <u>immutable(=hashable)</u>, 즉 (객체가 가지고 있는 값이 )불변하는 객체다.
+ 그 외의 대부분의 데이터 타입들은 mutable, 즉 (객체가 가지고 있는 값이 )변할 수 있는 가변 객체다.

### 1.반복불가

\####~~1-2.반복불가-순서있음~~
+ 반복이 불가한데 순서가 있다는 것은 논리적으로 말이 안된다.

#### 1-1.반복불가-순서없음: 숫자, 불값, None...

In [ ]:
print(
    1+1,
    2-1,
    1*3,
    3/2,
    sep = '\n'
)

2
1
3
1.5

In [ ]:
'1' + 1

In [ ]:
print(
    6 / 4,
    6 // 4,
    6 % 4,
    6 * 4,
    6 ** 2, #기억
    sep = '\n'
)

1.5
1
2
24
36

In [ ]:
## True는 1, False는 0으로 계산된다.
print(
    True + True,
    True == 1,
    False + False,
    False == 0,
    sep = '\n',
)

2
True
0
True

In [ ]:
print(
    not True,
    not False,
    not 0,
    not 1,
    not 2,
    not [123, 456],
    sep = '\n'
)

In [ ]:
## 확장 할당 연산자
a = 0
a += 1 # 값 더하고 다시 a라는 포스트잇 붙이기
print(a)

a -= 10
print(a)

a /= 3
print(a)

a *= 3
print(a)

a //= 2
print(a)

a **=2
print(a)

##### 복습문제 1
+ 사용자의 입력을 input으로 받아,
  + 5로 나눈 나머지가 0이면, 아무것도 출력하지 않고,
  + 5로 나눈 나머지가 0이 아니면, 5로 나눈 몫을 출력하는
+ 코드를 작성하시오.

In [ ]:
## 한번의 실행마다 하나의 입력값이 들어가고, 하나의 출력값이 나온다.
## 입력값: 12, 20, 17.

num = int(input()) #input은 str타입이므로 int로 바꿔야
if num%5 == 0:
  pass #continue와 break은 반복문에서, pass는 조건문에서도 사용가능
else:
  print(num//5);


## 출력값: 2, 출력값 없음, 3

12
2

### 2.반복가능: 집합, 사전, 문자열, 리스트, 튜플
+ iterable 혹은 container.
  + 해당 객체가 다른 객체들을 담고 있기 때문에, 그 안에 담겨진 객체들을 꺼내거나, 다른 객체들을 또 넣을 수 있다.
  + 중첩해서 리스트 안에 리스트를 넣거나, 튜플 안에 리스트를 넣는 것도 당연히 가능하다.
+ 공통적으로 `in`, `len()`, `sum()`, `sorted()`함수를 사용할 수 있다.

In [ ]:
print(
    1 in {1,2,3},
    10 in {1:10, 2:20, 3:30}, #key의 값만 참조해 불 대수 반환
    '1' in '123', # 문자열 시에는 문자열
    1 in [1,2,3],
    1 in (1,2,3,),
    sep = '\n'
)

True
False
True
True
True

In [ ]:
print(
    len({1,2,3}),
    len({1:10, 2:20, 3:30}),
    len('123'),
    len([1,2,3]),
    len((1,2,3)),
    sep = '\n'
)

3
3
3
3
3

In [ ]:
print(
    sum({1,2,3}),
    sum({1:10, 2:20, 3:30}), #dict의 sum은 key만 더한다
    sum([1,2,3]),
    sum((1,2,3)),
    sep = '\n'
)

6
6
6
6

In [ ]:
print(
    sorted({3,2,1}), #정렬해서 list로 반환
    sorted({3:30, 2:20, 1:10}),
    sorted([3,2,1]),
    sorted((3,2,1)), #sorted는 list 반환값이 있다, sort는 없음
    sep = '\n'
)
## !! 결과값이 리스트라는 사실을 주의하자!

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

### 2-1.반복가능-순서없음: 집합, 사전
+ **순서가 없다는 말은, 곧 중복이 허용되지 않는다는 말과 같다!**
+ 공통적으로 사용할 수 있는 함수 없음!

#### 1)집합
+ 사칙 연산 중 유일하게 `- (차집합)`만 가능하다!
+ 집합 연산자 (`|, &, -, ^`)
  + 확장할당 연산자(`|=, &=, -=, ^=`)

In [ ]:
a = set()
d = {} # 빈 중괄호로 만들면 바로 dict가능

print(type(a), type(d))

<class 'set'> <class 'dict'>

In [ ]:
a = {1,2,3}
b = {3,4,5}

print(
    a | b, #합집합
    a & b, #교집합
    a - b, #차집합
    a ^ b, #대칭차집합
    sep = '\n'
)

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

In [ ]:
## 집합에 요소 더하고, 빼고
a = {1,2,3}

b = a.add(4) #a 자체가 변경됨, 반환값이 없음
print(a)
print(b)

b = a.remove(1)
print(a)
print(b)

b = a.discard(10) #없는 걸 제거하려고 해도 오류 안 뜸, 그 이외에는 remove와 동일
print(a)
print(b)

# a.discard(10)
# b = a

b = a.pop() #랜덤으로 나감, 이런 걸 하고 싶으면 사실 순서있는타입을 써야
print(a)
print(b)

c = {1,2,3,4}
d = c.pop()
print(d)

{1, 2, 3, 4}
None
{2, 3, 4}
None
{2, 3, 4}
None
{3, 4}
2
1

###### 참고: `|, |=, add, update` 차이

In [ ]:
a = {1,2,3}

a | {5} #update 없음
print(a)

a |= {5,6} #update 존재
print(a)

a.add(7) # 값 1개 추가
print(a)

a.update({8,9,10})   ## 값 여러 개 추가, 인자로 iterable 데이터타입(리스트, 집합, 사전 등)을 취한다!
print(a)


a.update([100,200,300])
print(a)

{1, 2, 3}
{1, 2, 3, 5, 6}
{1, 2, 3, 5, 6, 7}
{1, 2, 3, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 100, 5, 6, 7, 8, 9, 10, 200, 300}

##### 복습문제 2
+ 주어진 문자열의 총 개수와 고유한 문자들의 개수간의 차를 구하시오.

In [ ]:
s = 'qesdwfrvcxzaasdqeetts'

print(len(s)-len(set(s)))

## 출력값: 8

8
8

#### 2)사전
+ key와 value로 구성되어 있으며, key값을 통해 value값을 호출할 수 있다.
  + key는 중복불가하며,
  + immutalbe한 객체들만 key값이 될 수 있다.

In [ ]:
a = {}
d = dict()

print(type(a), type(d))

In [ ]:
a = {}

a[[1,2,3]] = '123'

In [ ]:
a = {}
a[(1,2,3)] = '123'

print(a)

In [ ]:
a = {'1':10, '2':20, '3':30}

print(a.keys())
print(a.values())
print(a.items())
print(type(a.items()))

dict_keys(['1', '2', '3'])
dict_values([10, 20, 30])
dict_items([('1', 10), ('2', 20), ('3', 30)])
<class 'dict_items'>

In [ ]:
## 순서가 없다는 말은, 중복을 허용하지 않는다는 말이다!
a = {}

a['1'] = 100
print(a)

a['1'] = 200
print(a)

{'1': 100}
{'1': 200}

In [ ]:
a = {'1':10, '2':20, '3':30} # immutable 객체만 key가 될 수 있음


a.update({4:'40', 5:'50'})
print(a)

a.update([(100,'100'), (200, '200')])
print(a)

{'1': 10, '2': 20, '3': 30, 4: '40', 5: '50'}
{'1': 10, '2': 20, '3': 30, 4: '40', 5: '50', 100: '100', 200: '200'}

In [ ]:
a = {'1':10, '2':20, '3':30}

del a['1'] #이건 if와 같은 구문임
print(a)

{'2': 20, '3': 30}

##### 복습문제 3
+ 주어진 문자열을 철자 단위로 나누어, 문자를 key로, 빈도수를 value로 가지는 사전을 생성하시오.

In [ ]:
s = 'abcaaabbccadede'
dict1 = dict()

for char in s:
  if char not in dict1.keys():
    dict1[char] = 1
  else:
    dict1[char]+=1
print(dict1)




# for char in s:
#   dict1[char] = s.count(char)
# print(dict1)
## 출력값: {'a': 5, 'b': 3, 'c': 3, 'd': 2, 'e': 2}

{'a': 5, 'b': 3, 'c': 3, 'd': 2, 'e': 2}

### 2-2.반복가능-순서있음: 문자열, 리스트, 튜플
+ 인덱싱, 슬라이싱, sequence.index(), sequence.count()

In [ ]:
s = '01234'
l = [0,1,2,3,4]
t = (0,1,2,3,4)

print(
    s[1],
    l[1],
    t[1],
    s[-1],
    l[-1],
    t[-1],
    sep = '\n'
)

1
1
1
4
4
4

In [ ]:
s = '01234'
l = [0,1,2,3,4]
t = (0,1,2,3,4)

print(
    s[1:2], =< x < 인 경우를 찾음
    l[1:2],
    t[1:2],
    s[:2],
    l[:2],
    t[:2],
    s[-1:],
    l[-1:],
    t[-1:],
    sep = '\n'
)

1
[1]
(1,)
01
[0, 1]
(0, 1)
4
[4]
(4,)

In [ ]:
s = 'abcde'
l = ['a', 'b', 'c', 'd', 'e']
t = ('a', 'b', 'c', 'd', 'e')

print(
    s.index('c'),
    l.index('c'),
    t.index('c'),
    sep='\n'
)

2
2
2

In [ ]:
s = "123111"
l = [1,2,3,1,1,1]
t = (1,2,3,1,1,1)

print(
    s.count('1'),
    l.count(1),
    t.count(1),
    sep = '\n'
)

4
4
4

#### 1)문자열
+ 문자열은 immutable하다.(값을 변경할 수 없다.) 따라서 값을 변경하고자 할 때에는, 새로운 변수에 할당해야 한다.
+ `더하기, 곱하기`, ~~빼기, 나누기~~
+ `str.strip()`, `str.lstrip()`, `str.rstrip()`
+ `str.replace()`
+ `str.upper()`, `str.lower()`, `str.title()`, `str.capitalize()`...
+ 불값을 반환하는 메소드들
  + `str.startswith()`, `str.endswith()`
  + `str.isupper()`, `str.islower()`, `str.istitle()`...
  + `str.isalnum()`, `str.isalpha()`, `str.isnumeric()`...
+ 문자열 형변환
  + `str.split()` -> list
  + `str.join(iterable)`->str

In [ ]:
## 사칙연산. 더하기 곱하기만 된다.
print(
    'abc'+'def',
    'abc'*2,
    sep = '\n'
)

In [ ]:
s = ' \n\t  a b c  \n\t '
b = s.strip()   ##공백 제거 immutable한 객체이므로, 반드시 새로 할당해야 한다.
print(s)
print(b)
s

	  a b c

a b c

' \n\t  a b c  \n\t '

In [ ]:
s = 'xyxabcxyx'

print(
    s.strip('xy'),
    s.lstrip('xy'), #동일하지 않은 문자가 나올 때까지 제거합니다.
    s.rstrip('xy'),
    sep = '\n'
)

abc
abcxyx
xyxabc

In [ ]:
s = "Oh love, I love you."

print(
    s.replace('LOVE'.lower(), 'hate'.upper()),
    s.title()#모든 단어 첫문자 대문자화,
    s.capitalize()#첫문자만 대문자화,
    sep = '\n'
)

Oh HATE, I HATE you.
Oh Love, I Love You.
Oh love, i love you.

In [ ]:
s = 'abc 123 abc'

print(
    s.split(), #공백기준 나누기
    s.split('123'),
    s.split('abc'),
    s.split('abc', 1), #1회만
    s.rsplit('abc',1),
    sep = '\n'
)

['abc', '123', 'abc']
['abc ', ' abc']
['', ' 123 ', '']
['', ' 123 abc']
['abc 123 ', '']

In [ ]:
iterable = ['You', 'He', 'She'] #반복가능타입 받음

' and '.join(iterable) + ' lived happily'

'You and He and She lived happily'

##### 복습문제 4
+ 다음 문장을 주어진 출력값으로 바꾸는 코드를 작성하시오.
  + 단, 함수/메소드 및 연산자는 한번씩만 사용하시오. (예를 들어, replace 메소드를 두 번 사용할 수 없음)

In [ ]:
given = '   @!?!I wAiTed for my father.!@!!  '

answer = given.strip(' @!?').capitalize().replace("my father", "her mother") # 메서드는 한번에 이어쓰기 가능, #strip은 동일하지 않은 문자가 나올 때까지 양쪽에서 제거들어가므로 처음에 공백 안넣으면 작동안함


print(answer)
## 출력값: I waited for her mother. (좌우 공백없음)

I waited for her mother.

#### 2)리스트
+ 더하기, 곱하기.
+ 추가하기
  + `list.append(one_value) -> None`
  + `list.extend(iteralbe) -> None`
  + `list.insert(index, value) -> None`
  + `list += another_list`
+ 제거하기
  + `list.pop(index) -> value`
  + `list.remove(value) -> None`
  + `list.clear()`
+ 정렬하기, 뒤집기
  + `list.sort()`
  + `list.reverse()`

In [ ]:
l = [1,2]

print(l+l,
      l*3,
      sep = '\n')

[1, 2, 1, 2]
[1, 2, 1, 2, 1, 2]

In [ ]:
l = []

b = l.append(0) #반환값 없음
print(b)
print(l)

None
[0]

In [ ]:
l.extend({4,5,6}) # append와의 차이는 단항이 아닌 여러 항 들어간다는 것, 함수의 add와 update의 관계
print(l)

l.insert(3, 100) #0,1,2,3 3 인덱스에 100 끼워넣음, 원래 인덱스가 3인 항이 밀려남
print(l)

[0, 4, 5, 6]
[0, 4, 5, 100, 6]

In [ ]:
b = l.pop(-1) #index로 뽑아내기 가능
print(b)
print(l)

l.remove(100)
print(l)

l.clear()
print(l)

6
[0, 4, 5, 100]
[0, 4, 5]
[]

In [ ]:
l = [1,5,2,4,3]

b = l.sort() #리스트 전용 메서드, 반환값 없음
print(b)
print(l)

None
[1, 2, 3, 4, 5]

In [ ]:
l = [1,5,2,4,3]

b = sorted(l)
print(b)
print(l)

In [ ]:
l = [1,5,2,4,3]

l.reverse()     ## 냅다 뒤집어!
print(l)

l.sort(reverse = 1)     ## 그래도 정렬은 하고 뒤집어!
print(l)

[3, 4, 2, 5, 1]
[5, 4, 3, 2, 1]

##### 복습문제 5
+ 5개의 값을 한번에 입력받아, 이를 정렬하여 하나씩 출력하는 코드를 작성하시오.

In [ ]:
## 입력값: 5 10 4 1 9 (각 값들 사이에는 엔터)
list1 = []
for i in range (5): # x in iterable
  list1.append(int(input()))
list1.sort()
for i in list1:
  print(i)

## 출력값: 1
##         4
##         5
##         9
##         10

5
10
4
1
9
1
4
5
9
10

#### 3)튜플
+ 리스트와 똑같지만, immutalbe하다는 점만 다르다.
+ 고유한 메소드 없음.

In [ ]:
tt = (1,2)
n = (1) #이놈은 int나오는게 중요
t = (1,)

print(
    type(tt),
    type(n),
    type(t)
)

<class 'tuple'> <class 'int'> <class 'tuple'>

In [ ]:
t = (1, [10,20,30], 4) # 튜플의 2차구조에는 손댈수있다

t[1].append(100)

print(t)

(1, [10, 20, 30, 100], 4)

##### 복습문제 6
+ 주어진 변수를 활용해,
  + 10 이상의 수를 제거하고,
  + 중복 역시 제거하여,
  + 정렬한,
+ **튜플**을 출력하시오.

<br>

+ 가능하다면, 한 줄 코드로 작성하시오.

In [ ]:
t = (1, 11, 2, 8, 25, 8, 9, 1, 2)

l = tuple(x for x in sorted(set(t)) if x<=10)

print(l)
## 출력값: (1, 2, 8, 9)

(1, 2, 8, 9)

In [ ]:
t = (1,2,3)
l = list(t)
l.append(4)
t = tuple(l)
print(t)

t = t + (4,) # 튜플은 불변이더라도 덮어씌운 튜플은 만들 수 있다

(1, 2, 3, 4)

## 중요 개념들과 주요 함수들 빠르게 복습하기
+ 함수 포인트: 여러 값을 반환하기, 지역변수/전역변수 개념, 람다함수(익명함수)
+ 주요 함수들: zip함수, range함수, enumerate함수

#### 함수 포인트

In [ ]:
a = 1               ## 전역변수
b=999
def print_a():
    a = 10          ## 지역변수
    b = 100         ## 지역변수
    print(a)
    return a, b

x = print_a()

print(x, type(x))    ## 튜플 형식으로 리턴
print(a)
print(b) # 전역변수 b

10
(10, 100) <class 'tuple'>
1
None

In [ ]:
for x in [1,2,3]:
    a = x
    b = 100
    print(a)

print(a)    ## !! 반복문은 함수가 아니기에, 지역변수가 아니다!! indentation때문에 오해 말기
print(b)

1
2
3
3
100

In [ ]:
## 람다함수(익명함수)
ld = (lambda x: x + 1)
# def (announymous) (x):
  #return x + 1
print(ld(2))

(lambda x:x+1)(2)   ## 이런식으로 쓸 수도 있다.

3

3

In [ ]:
d = {1:100, 2:20, 3:3}
print(list(d))
print(sorted(d))
print(sorted(d, key = lambda x:d[x]))   ## sorted와 람다함수를 섞어서 맛있게 쓸 수 있다! > 키값 주면 밸류값을 반환하는 람다함수, key는 정렬순서, 밸류값 순서인 3, 20, 100순서대로 정렬됨

[1, 2, 3]
[1, 2, 3]
[3, 2, 1]

#### 리스트 내장과 제너레이터 개념

In [ ]:
l = []

for x in [1,2,3]:
    l.append(x + 10)

print(l)

[11, 12, 13]

In [ ]:
l = [x + 10 for x in [1,2,3]]
print(l)

[11, 12, 13]

In [ ]:
l = [x + 10 for x in [1,2,3] if x != 2]
print(l)

[11, 13]

In [ ]:
l = ['짝수' if x % 2 == 0 else '홀수' for x in [1,2,3,4]]   ## !! 사용하는 형태가 바뀐 것에 유의하자!, 조건문이 앞으로 갔고 조건문 충족 시 해당하는 구문이 앞에 있음
print(l)

['홀수', '짝수', '홀수', '짝수']

In [ ]:
l = [x+y for x in [1,2,3] for y in [10,20,30]]
print(l)

[11, 21, 31, 12, 22, 32, 13, 23, 33]

In [ ]:
s = {x+10 for x in (4,5,6)}         ## 집합 내장
d = {x:x + 10 for x in {1,2,3}}     ## 사전 내장

print(s, d)

{16, 14, 15} {1: 11, 2: 12, 3: 13}

In [ ]:
gen = (x+10 for x in [1,2,3])   ## 튜플 내장은?

print(gen)
print(list(gen))

<generator object <genexpr> at 0x7f0b90e44e40>
[11, 12, 13]

#### 주요 함수들

In [ ]:
print(range(1,10)) # =< x < 부등호, 그냥 10이면 0=<x<10이므로 10번 반복

In [ ]:
print(
    list(range(1,5)),
    list(range(5,1)), # 5에서 1로 상향순으로 갈 수 있는 방법은 없으므로 공백출력, 5<=x <1 부등식을 만족하는 수는 없음
    list(range(5,1,-1)), #하향순으로 가고 싶으면 -1사용
    list(range(1,5)[::-1]),     ## 윗 줄보다 이게 더 직관적이라고 생각합니다! 슬라이싱을 한 것, -1씩 움직이라는 뜻의 step임 [1:5:2] >1, 3만 나옴 [::-1] > 이건 처음부터 끝까지 -1 스텝으로라는 뜻임
    sep = '\n'
)

[1, 2, 3, 4]
[]
[5, 4, 3, 2]
[4, 3, 2, 1]

In [ ]:
en = enumerate(['apple', 'banana', 'orange'])

print(en)
print(list(en))

<enumerate object at 0x7f0b90e56380>
[(0, 'apple'), (1, 'banana'), (2, 'orange')]

In [ ]:
fruits = ['apple', 'banana', 'orange']

for i in range(len(fruits)):
    print(str(i) + "th fruit is " + fruits[i])


for i, fruit in enumerate(fruits):          ## 이 코드가 더 깔끔하고, 읽기 쉽다.
    print(str(i) + "th fruit is " + fruit)

0th fruit is apple
1th fruit is banana
2th fruit is orange
0th fruit is apple
1th fruit is banana
2th fruit is orange

In [ ]:
z = zip([1,2,3], (4,5,6))

print(z)
print(list(z))
lst = ['a','b','c','d']
print(enumerate(lst))
for i, elements in enumerate(lst):
    print(i) ##for i 하나만 있으면 튜플 전체를, for i, element면 index로 i를 반환하고 element도 반환한다

<zip object at 0x7f0b90e0aac0>
[(1, 4), (2, 5), (3, 6)]
<enumerate object at 0x7f0b90e0ac00>
0
1
2
3